@use 'bases/mixins' as m;
@use 'bases/variables' as v;



:root{

    // colors =====
    --body-color: #eef1f4;
    --sidebar-color: #FFF;
    --primary-color: #0196e3;
    --primary-color-light: #F6F5FF;
    --toogle-color: #DDD;
    --text-color: #707070;
    --text-color2:#fff;

    // transition =====
    --tran-02: all 0.2s ease;    
    --tran-03: all 0.3s ease;    
    --tran-04: all 0.4s ease;    
    --tran-05: all 0.5s ease;      

}
.container-fluid{
    background-color: var(--body-color);
    transition: var(--tran-04);
}
.home{
    left: 7rem;
    width: calc(100% - 7rem);
    height: 100vh;
    position: relative;
}
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25rem;
    transition: var(--tran-05);
    background-color: var(--sidebar-color);
    z-index: 100;

    padding: 1rem;

    .text{
        transition: var(--tran-04);
        white-space: nowrap;
        opacity: 1;
        visibility: visible;
        user-select: none;
    }
    &.close{
        width: 7rem;
        header{
            .toogle{
                transform: translateY(-50%);
            }
        }
        // transform: rotate(180deg);
        .text{
            opacity: 0;
            // display: none !important;
            visibility: hidden;
        }
        ~.home{
            left: 7rem;
            width: calc(100% - 7rem);
            height: 100vh;
            position: relative;

        }
    }

    .name,.profession{
        color: var(--text-color);
    }
    header {
        position: relative;
        .image-text {
            display: flex;
            align-items: center;
            .image{
                min-width:6rem;
                display: flex;
                align-items: center;
                picture img {
                    width: 4rem;
                    border-radius: 6px;
                }
            }
            .header-text{
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                font-weight: 500;
                .name{
                    font-weight: 600;
                }
                .profession{
                    margin-top: -0.2rem;
                }
        
            }
        }
        .toogle{
            color: var(--toogle-color);
            background-color: var(--primary-color);
            position: absolute;
            top: 50%;
            right: -2.5rem;
            transform: translateY(-50%) rotate(180deg);
            transition: var(--tran-03);
            height: 2.7rem;
            width: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 2.2rem;
            cursor: pointer;

        }

    }
    .menu-bar{
        height: calc(100% - 5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
        li{
            height: 5rem;
            margin-top: 1rem;
            list-style: none;
            display: flex;
            align-items: center;
            .text{
                // width: 100%;
            }
            .text,.icono{
                color: var(--text-color);
                transition:var(--tran-03) ;
                display: flex;
                align-items: center;
                height: 100%;
            }
            a{
                text-decoration: none;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                border-radius: .6rem;
                transition: var(--tran-04);
                &:hover{
                    background: var(--primary-color);
                    .icono,.text{
                        color: var(--sidebar-color);
                    }
                }
            }

        }
        .search-box{
            background: var(--primary-color-light);
            border-radius: 1rem;
            input{
                height: 100%;
                width: 100%;
                background: var(--primary-color-light);
                outline: none;
                border: none;
                border-radius: .6rem;
            }
        }
        .icono{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            min-width: 5rem;
        }
    
    }
    .mode{
        background: var(--primary-color-light);
        position: relative;
        border-radius: .6rem;
        i{
            position: absolute;
            transition: var(--tran-04);
            &.sun{
                opacity: 0;
            }
        }
        .moon-sun{
            height: 5rem;
            width: 6rem;
            display: flex;
            align-items: center;
        }
        .toogle-switch{
            cursor:pointer;
            position: absolute;
            right: 0rem;
            background: var(--primary-color-light);
            border-radius: .7rem;
            // height: 100%;
            min-width: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .switch{
                height: 2.2rem;
                position: relative;
                width: 4.4rem;
                border-radius: 2.5rem;
                background: var(--toogle-color);
        
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: .5rem;
                    transform: translateY(-50%);
                    height: 1.5rem;
                    width: 1.5rem;
                    background: var(--sidebar-color);
                    transition: var(--tran-03);
                }
            }
        }
    }
    
}
.form_container{
    .mode{
        // background: var(--primary-color-light);
        align-items: center;
        border-radius: 0.6rem;
        top: -1rem;
        display: flex;
        justify-content: space-between;
        left: 22rem;
        position: absolute;
        width: 9rem;
        .icono{
            color: var(--text-color);
            transition:var(--tran-03) ;
            display: flex;
            align-items: center;
            justify-content: center;
        
            height: 100%;
            font-size: 2.5rem;
        }
        i{
            position: absolute;
            top: 0;
            left: 0;
            transition: var(--tran-04);
            &.sun{
                opacity: 0;
            }
        }
        .moon-sun{
            height: 6rem;
            width: 6rem;
            display: flex;
            align-items: center;
        }

        .toogle-switch{
            cursor:pointer;
            position: absolute;
            right: 0rem;
            // background: var(--primary-color-light);
            border-radius: .7rem;
            // height: 100%;
            height: 6rem;
            min-width: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .switch{
                height: 2.2rem;
                position: relative;
                width: 4.4rem;
                border-radius: 2.5rem;
                background: var(--toogle-color);
        
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: .5rem;
                    transform: translateY(-50%);
                    height: 1.5rem;
                    width: 1.5rem;
                    background: var(--sidebar-color);
                    transition: var(--tran-03);
                }
            }
        }
    }
}





body.dark {

    --body-color: #5f6062;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toogle-color: #FFF;
    --text-color: #ccc;
    --text-color2:#fff;


    .side-bar .menu-bar{
        li{
            a{
                &:hover{
                    // background: var(--primary-color);
                    .icono,.text{
                        color: var(--text-color);
                    }
                }
            }
        }
    } 
    .mode {
        .moon-sun{
            i.sun{
                opacity: 1;
            }
            i.moon{
                opacity: 0;
            }
        }
        
        .toogle-switch .switch:before {
            left: 2.5rem;
        }
    }
}


.home{
    height: fit-content;
    transition: var(--tran-05);
    background: var(--body-color);
    position: relative;
    @include m.tablet{        
        left: 25rem;
        width: calc(100% - 25rem);
    }

    .data_from_db{
        padding: 1.5rem;
        caption{
            color: var(--text-color);
            text-transform: capitalize;
            font-weight: bold;
        }

        #no-more-tables{
            font-size: 1.3rem;

            thead{
                font-size: 1.5rem;
            }
            tbody > tr:nth-of-type(2n+1) > *{
                box-shadow: inset 0 0 0 9999px var(--body-color);
                
            }
            tbody > tr:hover > *{
                box-shadow: inset 0 0 0 9999px var(--primary-color);
                color: var(--text-color2);
            }
            .dt-info,.dt-search{
                color: var(--text-color);
                font-size: 1.3rem;
            }
            .dt-paging .dt-paging-button:hover{
                background: var(--text-color);
                border: 1px solid var(--sidebar-color);
                border-radius: 1rem;
            }
            .dt-buttons{
                gap: 1rem;
                .dropdown-menu{
                    width: fit-content;
                }
            }
            .page-link{
                color: var(--text-color);
                background: var(--primary-color-light);
                font-size: 1.3rem;

                &.active{
                    border-color: var(--text-color);
                }
                
            }
            #dt-search-0{
                background: var(--primary-color-light);
            }
            thead,tr,td,tbody,th{
                background: var(--sidebar-color);
                color: var(--text-color);
                text-transform: capitalize;
            }
            td{
                &:hover{
                    color: var(--text-color2);
                }
            }
            tr{
                border-bottom: 2px solid var(--text-color);
                
                td.dtr-control:before{
                    border-left: 10px solid var(--text-color);
                    // border-top: 0;
                }
                .dtr-expanded > td.dtr-control:before{
                    border-top: 10px solid var(--text-color);
                    border-left: 0;
                }
                
            }
        }
        
    }

}

.createContainer{
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 98;


    #form{
        padding: 1rem;
        background:var(--sidebar-color);
        min-height: 40vh;
        max-height: 98vh;
        overflow-y: auto;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: var(--text-color);
        width: 90%;
        font-size: 1rem;
        margin: 0;
        @include m.telefono{
            font-size: 1.5rem;
        }
        @include m.tablet{
            width: 75%;
        }
        @include m.tablet-lg{       
            width: 45%;
        }
        .container{
            display: block;


            @include m.tablet{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }

            &.container-services{
                display: block;

                
            }
        }
        input{
            background: var(--primary-color-light);
            color: var(--text-color);
            &::placeholder{
                color: var(--text-color);
            }
            font-size: .8rem;
            @include m.telefono{
                font-size: 1.1rem;
            }
            
        }
        .button-close{
            background-color: var(--text-color);
            height: fit-content;
        }
        // min-width: ;
    }


}

