.spinner{
    height: 100vh;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes ldio-caqhl4ym1gi {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-caqhl4ym1gi div {
    left: 144.48px;
    top: 79.765px;
    position: absolute;
    animation: ldio-caqhl4ym1gi linear 1.1111111111111112s infinite;
    background: #0196e3;
    width: 12.04px;
    height: 21.07px;
    border-radius: 6.02px / 10.535px;
    transform-origin: 6.02px 70.735px;
  }.ldio-caqhl4ym1gi div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.037037037037037s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(2) {
    transform: rotate(24deg);
    animation-delay: -0.9629629629629629s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(3) {
    transform: rotate(48deg);
    animation-delay: -0.8888888888888888s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(4) {
    transform: rotate(72deg);
    animation-delay: -0.8148148148148148s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(5) {
    transform: rotate(96deg);
    animation-delay: -0.7407407407407407s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(6) {
    transform: rotate(120deg);
    animation-delay: -0.6666666666666666s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(7) {
    transform: rotate(144deg);
    animation-delay: -0.5925925925925926s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(8) {
    transform: rotate(168deg);
    animation-delay: -0.5185185185185185s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(9) {
    transform: rotate(192deg);
    animation-delay: -0.4444444444444444s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(10) {
    transform: rotate(216deg);
    animation-delay: -0.37037037037037035s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(11) {
    transform: rotate(240deg);
    animation-delay: -0.2962962962962963s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(12) {
    transform: rotate(264deg);
    animation-delay: -0.2222222222222222s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(13) {
    transform: rotate(288deg);
    animation-delay: -0.14814814814814814s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(14) {
    transform: rotate(312deg);
    animation-delay: -0.07407407407407407s;
    background: #0196e3;
  }.ldio-caqhl4ym1gi div:nth-child(15) {
    transform: rotate(336deg);
    animation-delay: 0s;
    background: #0196e3;
  }
  .loadingio-spinner-spinner-a1cop02ybag {
    width: 301px;
    height: 301px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio-caqhl4ym1gi {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }